#testBox {
    /* background-color: rgba(0, 0, 0, 0.2); */
    color: whitesmoke;

    width: 80%;
    height: 100%;

    position: absolute;
    left: 50%;
    top: 0px;

    transform: translateX(-50%);

    overflow-y: auto;
    overflow-x: hidden;
}

#takeTestModal {
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;

    width: 50%;
    height: fit-content;
    padding: 20px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border: 2px solid black;
    border-radius: 20px;
}

#takeTestLabel {
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

#takeTestButton {
    background-color: crimson;
    width: 50%;
    /* height: 30px; */

    border: 2px solid black;
    border-radius: 10px;

    color: whitesmoke;
    font-size: 25px;

    transition: background-color 0.5s;
}

#takeTestButton:hover {
    background-color: brown;
}

#takeTestModal.hidden {
    display: none;
}

#testDocument {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 60px;

    /* height: fit-content; */

    /* overflow-y: visible; */
}


#testBox::-webkit-scrollbar {
    width: 0px;
}



#testDocument.hidden {
    display: none;
}


.mcTestQuestion {
    width: calc(100% - 60px);
    padding-left: 60px;
    height: fit-content;

    text-align: left;
    font-size: 20px;
}

.mcqText {
    color: red;
}

.mcqChoices {
    padding-left: 40px;
}

.mcqChoice {
    background-color: transparent;
    transition: background-color 0.1s;
}

.mcqChoice:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mcqChoice.selected {
    background-color: rgba(255, 0, 0, 0.4);
}

.frTestQuestion {
    width: calc(100% - 60px);
    padding-left: 60px;
    height: fit-content;

    text-align: left;
    font-size: 20px;

    margin-top: 20px;
}

.frQuestionText {
    color: red;
}

.frQuestionInp {
    background-color: transparent;

    margin-left: 40px;

    width: 50%;
    height: fit-content;
    font-size: 20px;

    color: whitesmoke;

    border: 2px solid whitesmoke;

    margin-top: 10px;
}

.frQuestionInp:focus {
    outline-width: 0px;
}

.matchQuestion {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    height: fit-content;
    /* background-color: red; */

    font-size: 20px;
    color: whitesmoke;
}

.matchRowBox {
    width: 100%;
    height: fit-content;

    border-bottom: 2px solid whitesmoke;
}

.matchRow {
    width: calc(100% - 4px);
    border: 2px solid whitesmoke;
    border-bottom: 0px;
}

.matchQuestionCell {
    width: 50%;
    height: 40px;

    padding: 0px;
    margin: 0px;

    height: fit-content;
    line-height: 40px;
}

.matchAnswerCell {
    width: calc(50% - 6px);
    height: 40px;

    border-left: 2px solid whitesmoke;

    padding: 0px;
    margin: 0px;


    float: right;
    transform: translateY(-40px);
    /* float: right; */
    /* align-self: right; */
}

.matchOptionBox {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 20px;

    margin-top: 20px;

    border: 2px solid black;
    border-radius: 20px;

    text-align: center;
}

.matchOptionElement {
    width: 100%;
    height: 40px;

    padding: 0px;
    margin: 0px;

    height: fit-content;
    line-height: 40px;

    /* background-color: whitesmoke; */
    background-color: rgba(255, 255, 255, 0.3);
    color: black;

    /* float: right; */

    /* transition: background-color 20s; */
}

.matchOptionBox .matchOptionElement {
    width: 50%;

    margin: auto;

    margin-bottom: 5px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: whitesmoke;
}

#testTitle {
    text-decoration: underline;
}

#testSubmit {
    width: 80%;
    height: fit-content;

    font-size: 20px;

    background-color: crimson;

    border: 2px solid black;
    border-radius: 10px;

    color: white;

    transition: background-color 0.4s;

    margin: 40px;

    padding: 10px;
}

#testSubmit:hover {
    background-color: brown;
}

#testResults {
    width: 80%;
    height: 80%;
    
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.6);

    border: 2px solid black;
    border-radius: 20px;
}

#testResults.hidden {
    display: none;
}

#testResultBar {
    width: 80%;
    height: 20px;
    border-radius: 15px;

    border: 2px solid black;

    position: absolute;
    left: 50%;
    top: 80px;

    transform: translateX(-50%);

    background-color: transparent;

    overflow: hidden;
    z-index: 999;
}


#testResultBarIndicator {
    width: 10px;
    height: 20px;

    position: absolute;
    left: 10%;
    top: 80px;


    background-color: whitesmoke;

    border: 2px solid black;
    border-radius: 15px;
}

#testResultsTitle {
    color: white;
    text-decoration: underline;
}

#retakeTestButton {
    background-color: crimson;
    width: 40%;
    /* height: 30px; */

    border: 2px solid black;
    border-radius: 10px;

    color: whitesmoke;
    font-size: 25px;

    transition: background-color 0.5s;

    position: absolute;
    left: 55%;
    top: 50%;
}

#retakeTestButton:hover {
    background-color: brown;
}



#testResultsMissedTitle {
    padding-top: 40px;
}

#missedDiv {
    overflow-y: auto;
    height: calc(100% - 160px);
    position: absolute;
    top: 150px;
    left: 10px;
    width: 50%;
    text-align: center;
}

#testResultsMissedQuestions {
    width: 100%;
    height: fit-content;
}

.missedTable {
    text-align: center;
    border: 2px solid white;
    width: calc(100% - 10px);
    padding-left: 5px;
}